{% extends "layouts/main.html" %}

{% set pageName = "Check details and create profile" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/demos/create-profile/check-photo"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check details and create profile</h1>

      {% set photoHtml %}
        <img src="/demos/create-profile/file/{{ uploadedFiles[0].filename }}" alt="Your photo" style="max-width: 200px;">
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: { text: "First name" },
            value: { text: data.createProfile.firstName },
            actions: {
              items: [{
                href: "/demos/create-profile",
                text: "Change",
                visuallyHiddenText: "first name"
              }]
            }
          },
          {
            key: { text: "Last name" },
            value: { text: data.createProfile.lastName },
            actions: {
              items: [{
                href: "/demos/create-profile",
                text: "Change",
                visuallyHiddenText: "last name"
              }]
            }
          },
          {
            key: { text: "Photo" },
            value: { html: photoHtml },
            actions: {
              items: [{
                href: "/demos/create-profile/upload",
                text: "Change",
                visuallyHiddenText: "photo"
              }]
            }
          }
        ]
      }) }}

      <form method="post">
        {{ govukButton({ text: "Create profile" }) }}
      </form>

    </div>
  </div>
{% endblock %}
