{% extends "layouts/main.html" %}

{% set pageName = "Check your email" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Create profile</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <p>A link has been sent to {{ data.createProfile.emailAddress or "adam@example.com" }}.</p>

      <p>Open the email on your phone or tablet and follow the instructions.</p>

      <p>Check your spam or trash folder if you cannot find the email.</p>

      <p>
        If you have not received the email after a few minutes, you can <a class="govuk-link" href="/demos/create-profile/email">request another link</a>.
      </p>

      {% include "_partials/manual-upload-check.html" %}

      <p class="app-simulate-link"><a class="govuk-link" href="/demos/create-profile/link" target="_blank" rel="noopener noreferrer">Simulate</a></p>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script>
    new App.SimulateLink({
      container: '.app-simulate-link a'
    })
  </script>
{% endblock %}
