{% extends "layouts/main.html" %}

{% set pageName = "You have not uploaded your photo" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Create profile</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {{ govukButton({
        text: "Go back",
        href: "/demos/create-profile/email-sent"
      }) }}

    </div>
  </div>
{% endblock %}
