{% extends "layouts/main.html" %}

{% set pageName = "You’ve uploaded your photo" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Create profile</span>
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <p>Click “I’ve uploaded my photo” on your original device to continue creating your profile there.</p>

      <p>If you’ve closed the page on your original device <a class="govuk-link" href="/demos/create-profile/email">get a link sent to your email</a>.</p>

      <p>Alternatively, you can <a class="govuk-link" href="/demos/create-profile/check">continue on this device</a>.</p>

    </div>
  </div>
{% endblock %}
