{% extends "layouts/main.html" %}

{% set pageName = "Scan the QR code using the camera on your phone or tablet" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">Create profile</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {% include "_partials/qr-code-placeholder.html" %}

      <p>If you cannot scan the QR code, you can <a class="govuk-link" href="/demos/create-profile/email">get a link sent to your email</a>. Open the link on your phone or tablet.</p>

      {% include "_partials/manual-upload-check.html" %}

      <p class="app-simulate-link"><a class="govuk-link" href="/demos/create-profile/qr-code/continue-on-other-device" target="_blank" rel="noopener noreferrer">Simulate</a></p>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script>
    new App.SimulateLink({
      container: '.app-simulate-link a'
    })
  </script>
{% endblock %}
