{% extends "layouts/main.html" %}

{% set pageName = "Upload your photo" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% if errorSummary.items.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary.items
        }) }}
      {% endif %}

      <form method="post" enctype="multipart/form-data">

        <span class="govuk-caption-l">Create profile</span>

        {{ govukFileUpload({
          id: "createProfile-photo",
          name: "createProfile[photo]",
          label: {
            text: "Upload your photo",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: "You can upload a PNG or JPG file under 1MB"
          },
          errorMessage: inlineErrors.photo if inlineErrors
        }) }}

        {{ govukButton({ text: "Continue" }) }}

        {% if not data.createProfile.continuingOnOtherDevice %}
          <p class="govuk-body"><a class="govuk-link" href="/demos/create-profile/qr-code">Use your phone or tablet to upload your photo</a></p>
        {% endif %}

      </form>

    </div>
  </div>
{% endblock %}
