{% extends "layouts/main.html" %}

{% set pageName = "You’ve uploaded your photo" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">Create profile</span>
      <h1 class="govuk-heading-l">{{pageName}}</h1>
      <div id="app-continuing-default-state">
        <p>Click “I’ve uploaded my photo” on your original device to continue creating your profile there.</p>
        <p>If you’ve closed the page on your original device <a class="govuk-link" href="/demos/create-profile-live/email">get a link sent to your email</a>.</p>
        <p>Alternatively, you can <a class="govuk-link" href="/demos/create-profile-live/check">continue on this device</a>.</p>
      </div>
      <div id="app-continuing-ready-state" hidden>
        <p>You can now close this tab and continue on your original device.</p>
        <p>If you’ve closed the page on your original device <a class="govuk-link" href="/demos/create-profile-live/email">get a link sent to your email</a>.</p>
        <p>Alternatively, you can <a class="govuk-link" href="/demos/create-profile-live/check">continue on this device</a>.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script>
    new App.LiveConnection({
      statusUrl: '/demos/create-profile-live/status',
      role: 'secondary',
      states: {
        default: document.getElementById('app-continuing-default-state'),
        ready: document.getElementById('app-continuing-ready-state')
      }
    })
  </script>
{% endblock %}
