{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Test cases
      </h1>

      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="/test-cases/table-with-acronyms">Table with acronyms</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/juggling-license">Juggling license application</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/notification-settings">Subscription settings</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/complex-question">Complex question</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/conditional-reveal-error-issue">Conditional reveal error issue</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/email-preferences-radios">Email preferences radios</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/email-preferences-checkboxes">Email preferences checkboxes</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/email-preferences">Email preferences</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/select-box">Select box</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/card-details">Card details</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/maxlength">Maxlength</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/nested-fieldsets">Nested fieldsets</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/autofocus">Autofocus</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/paste-disabler">Paste disabler</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/sticky">Sticky menu</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/are-you-over-18">Are you over 18? (standard)</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/are-you-an-adult">Are you an adult? (small)</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/file-input-value-clear">File input value clear test</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/mfa">Multi-factor authentication</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/task-list">Task list</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/hint-text">Hint text</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/html5-validation">HTML5 validation</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/after-button">After button</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/none-of-the-above">None of the above</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/do-you-want-to-get-delivery-updates">Do you want to get delivery updates</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/conditional-hint-text">Conditional hint text</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/driving-licence-photo">Driving licence: use passport photo</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/upload-receipts--image">Upload receipts (accept: PNG, GIF or JPG)</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/upload-receipts--doc">Upload receipts (accept: PNG, GIF, JPG, DOC, DOCX or PDF)</a></li>
        <li><a class="govuk-link--no-visited-state" href="/test-cases/email-example">Email example</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
