{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  {% if pageName %}{{ pageName }} - {% endif %}{{ serviceName }}
{% endblock %}

{% block headIcons %}
{% endblock %}


{% from "_components/primary-navigation/macro.njk" import appPrimaryNavigation %}
{% from "_components/search/macro.njk" import appSearch %}
{% from "_components/multi-file-upload/macro.njk" import appMultiFileUpload %}
{% from "_components/checkbox-filter/macro.njk" import appCheckboxFilter %}
{% from "_components/radio-filter/macro.njk" import appRadioFilter %}

{% block header %}
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script>
    var App = {}
  </script>
  <script src="/public/javascripts/helpers.js"></script>
  <script src="/public/javascripts/components/autocomplete.js"></script>
  <script src="/public/javascripts/components/add-another.js"></script>
  <script src="/public/javascripts/components/date-input.js"></script>
  <script src="/public/javascripts/components/button-disabler.js"></script>
  <script src="/public/javascripts/components/paste-disabler.js"></script>
  <script src="/public/javascripts/components/search-toggle-button.js"></script>
  <script src="/public/javascripts/components/stepper.js"></script>
  <script src="/public/javascripts/components/multi-file-upload.js"></script>
  <script src="/public/javascripts/components/live-connection.js"></script>
  <script src="/public/javascripts/components/simulate-link.js"></script>
  <script src="/public/javascripts/components/checkbox-filter.js"></script>
  <script src="/public/javascripts/components/list-filter.js"></script>
  <script src="/public/javascripts/components/form-validator.js"></script>
{% endblock %}

{% block footer %}
  <footer class="govuk-footer">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/demos">Demos</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/test-cases">Test cases</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/clear-all-data?returnUrl={{originalUrl}}">Reset</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/account/sign-out">Sign out</a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</footer>
  <p></p>
{% endblock %}
